/* shared */

html,
body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.button {
    /* border-radius: 100px 100px 100px 100px; */
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.button:hover {
    background-color: #0d1f16 !important;
    border-color: #0d1f16 !important;
}

.section {
    padding: 6rem 0rem;
}

.section h2 {
    font-size: 2em;
    font-weight: 400;
}

/* face section */

.face .name {
    font-size: 3em;
    font-weight: 600;
    margin: 10px;
    text-align: center;
}

.face .yogalogo {
    position: relative;
    text-align: center;
}

.face .mobile {
    float: unset !important;
    width: 100% !important;
}

.face .logo {
    position: relative;
    max-width: 300px;
    margin: 1.5rem auto -9rem;
}

.hider {
    display: none;
}

/* imgFeed section */

.imgfeed {
    background-color: rgb(233, 233, 233);
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* class schedule section */

.classes .row h6 {
    margin-bottom: 10px;
}

.classes .row p {
    margin-bottom: 0px;
}

.classes ul li {
    margin-bottom: 0px;
}

/* contact us section */

.contactus {
    background-color: rgb(233, 233, 233);
}

.work a {
    color: unset;
    text-decoration: unset;
}

.social {
    padding-top: 36px;
}

/* media queries */

@media only screen and (min-width: 450px) {
    .grid {
        grid-auto-rows: 250px;
    }    
}


@media only screen and (min-width: 600px) {
    .face .name {
        font-size: 3.3em;
    }

    .section h2 {
        font-size: 2.5em;
    }

    .social {
        text-align: center;
        padding-top: 0px;
    }
}

@media only screen and (min-width: 1000px) {
    .face .name {
        text-align: left;
    }

    .face .mobile {
        float: left !important;
        width: 48% !important;
    }

    .hider {
        display: inline-block;
    }

    .face .logo {
        max-width: 400px;
        margin: 1.5rem auto -9rem;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

@media only screen and (min-width: 1200px) {
    .face .name {
        font-size: 3.6em;
    }
}